@import './variables.scss';

// ! BUTTON

a.mainButton,
button.mainButton {
    display: block;
    border: none;
    position: relative;
    padding: 16px 36px;
    color: $buttonColor;
    letter-spacing: 1px;
    font-family: $poppins;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 3px;
        background-color: $mainYellow;
        transition: .2s ease-in-out;
    }

    &:before {
        top: 0;
        left: 0;
    }

    &:after {
        bottom: 0;
        right: 0;
    }

    &:hover::before {
        transform: translate(60%, 5px)
    }

    &:hover::after {
        transform: translate(-60%, -5px)
    }
}

@mixin back-rectangle($top: 50%, $left: 50%, $w: 240px, $h: 320px, $r: 20deg) {
    position: absolute;
    background-image: linear-gradient(21deg, #ffbf36 50%, #e84907 100%);
    width: $w;
    height: $h;
    transform: rotate($r);
    top: $top;
    left: $left;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: calc(100% - (#{$w} * .15));
        height: calc(100% - (#{$w} * .15));
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin clear-variables {
    padding: 0;
    margin: 0;
}

@mixin clear-a {
    text-decoration: none;
    color: black;
}

@mixin center-box {
    width: 94%;
    max-width: 1200px;
    margin: 14px auto;
}

@mixin languages {

    display: flex;

    .lang {
        text-transform: lowercase;
        font-weight: 800;
        display: flex;
        align-items: center;
        position: relative;

        &:not(:last-of-type) {
            margin: {
                right: 10px;
            }
        }

        &>img {
            width: 3rem;

            margin: {
                left: 6px;
            }
        }

        &>a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}